<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20048165457-dnll2mvc7nfl6ls9ev9ht00edochqh9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20048165457-dnll2mvc7nfl6ls9ev9ht00edochqh9m</string>
	<key>API_KEY</key>
	<string>AIzaSyDiq3JqRB8IPdVRuL3367Ox4_0fj_uQZe0</string>
	<key>GCM_SENDER_ID</key>
	<string>20048165457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cs467LanguageLearningApp</string>
	<key>PROJECT_ID</key>
	<string>language-learning-app-ef75f</string>
	<key>STORAGE_BUCKET</key>
	<string>language-learning-app-ef75f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20048165457:ios:50d3be331f754b6ecfd670</string>
</dict>
</plist>